<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/images/Logo.png">

    <meta name="description" content="BENCH/ began in 1987 as a small store selling men’s t-shirts. Then, it grew at an unparalleled rate becoming the pioneer in the use of celebrity endorsers, television, and giant billboards to propel a fashion brand that offers premium quality products at affordable prices.
    From being the number one store of men’s apparel, BENCH/ has grown to include a ladies’ line, underwear, fragrances, housewares, snacks, and a wide array of other lifestyle products. Throughout the years, BENCH/ has achieved the distinction of being present virtually in every retail space in the Philippines, and has built a worldwide network of stores and outlets, reaching as far as the United States, the Middle East, and China.
    As it sliced through demographic divisions -- age, gender, socio-economic status -- a stirring slogan, “BENCH/ is forever”, became the company’s abiding creed.">
    <meta name="description" content="World Class Brand">
    <meta name="description" content="Mark Vergel B. Banguis">
    <meta name="description" content="Bench/ Surigao City">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/dist/photoswipe.css"> 
    <link rel="stylesheet" href="/dist/default-skin/default-skin.css"> 

    <title>Bench | Essentials </title>
  </head>
  <body>

     <!-- Loader-->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>

            <!--Container for Everything-->
            <div class="container">
                <!--Banner-->
                <div class="row text-center mt-2 rounded header slide-in-top">
                    <div class="col-12"><h1 class="text-white bench mt-2 bg-danger rounded shadow-1 ">Bench/</h1></div>
                </div>

                <!--Category-->
                  <div class="row row-cols-md-3  text-center align-middle bench-category pt-3 parent">
                    <div class="col-4 col-6 col-sm-4 col-md-4 col-lg-4  cute"><a href="/index.html">Products</a></div>
                    <div class="col-4 col-6 col-sm-4 col-md-4 col-lg-4 order-sm-12 cute"><a href="#" class="aboutButton">About</a>    
                </div>

                <div class="col-12 col-sm-4 col-lg-4 dropdown align-middle cute-1">
                    <a class="btn dropdown-toggle bench-dropdown cuteness" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Essentials
                    </a>  
                    <div class="dropdown-menu text-center align-middle p-4" aria-labelledby="dropdownMenuLink">
                         <a class="dropdown-item cuteness" href="/layouts/mens.html" value="1">Men</a>
                         <a class="dropdown-item cuteness" href="/layouts/women.html" value="1">Women</a>
                         <a class="dropdown-item cuteness" href="/layouts/body.html" value="1">Body & Bath</a>
                         <a class="dropdown-item cuteness" href="/layouts/ass.html" value="1">Accessories</a>
                    </div>

                </div>

                 </div>
                 <hr class="lead">

                 <div class="row  row-cols-2 row-cols-sm-3 row-cols-md-4  row-cols-lg-5 pt-5 my-gallery" id="galleryPictures">
                        <figure itemprop="associatedMedia" class="col m5ths s6 box-images">
                            <a href="/images/essentials/1 2in1 Wireless Bra Pack 449.jpg" itemprop="contentUrl" data-size="800x700"  >
                                <img src="/images/essentials/1 2in1 Wireless Bra Pack 449.jpg" itemprop="thumbnail" alt="Color Block Polo Shirt" class="col m12 s12 shadow p-2 mb-5 bg-secondary rounded my-images"/>
                            </a>
                            <figcaption itemprop="caption description" class="holder">
                            <div> 
                            <h2 class="lightbox-name"> 2in1 Wireless Bra Pack </h2> 
                            <h3 class="lightbox-price"> Price: 499 php</h3>  
                            </div>
                            <div class="addCart"> <i class="fa fa-cart-arrow-down cart"></i> </div>
                            </figcaption>
                        </figure>

                        <figure itemprop="associatedMedia" class="col m5ths s6 box-images">
                            <a href="/images/essentials/2 3-in-1 Hipster Brief 219.jpg" itemprop="contentUrl" data-size="800x700"  >
                                <img src="/images/essentials/2 3-in-1 Hipster Brief 219.jpg" itemprop="thumbnail" alt="Color Block Polo Shirt" class="col m12 s12 shadow p-2 mb-5 bg-secondary rounded my-images"/>
                            </a>
                            <figcaption itemprop="caption description" class="holder">
                            <div> 
                            <h2 class="lightbox-name"> 3-in-1 Hipster Brief </h2> 
                            <h3 class="lightbox-price"> Price: 219 php</h3>  
                            </div>
                            <div class="addCart"> <i class="fa fa-cart-arrow-down cart"></i> </div>
                            </figcaption>
                        </figure>

                        <figure itemprop="associatedMedia" class="col m5ths s6 box-images">
                            <a href="/images/essentials/3 3-in-1 Pack Hipster Brief 399.75.jpg" itemprop="contentUrl" data-size="800x700"  >
                                <img src="/images/essentials/3 3-in-1 Pack Hipster Brief 399.75.jpg" itemprop="thumbnail" alt="Color Block Polo Shirt" class="col m12 s12 shadow p-2 mb-5 bg-secondary rounded my-images"/>
                            </a>
                            <figcaption itemprop="caption description" class="holder">
                            <div> 
                            <h2 class="lightbox-name"> Pack Hipster Brief </h2> 
                            <h3 class="lightbox-price"> Price: 399.75 php</h3>  
                            </div>
                            <div class="addCart"> <i class="fa fa-cart-arrow-down cart"></i> </div>
                            </figcaption>
                        </figure>


                        
                        <figure itemprop="associatedMedia" class="col m5ths s6 box-images">
                            <a href="/images/essentials/4 5-in-1 Low Rise Bikini 249.jpg" itemprop="contentUrl" data-size="800x700"  >
                                <img src="/images/essentials/4 5-in-1 Low Rise Bikini 249.jpg" itemprop="thumbnail" alt="Color Block Polo Shirt" class="col m12 s12 shadow p-2 mb-5 bg-secondary rounded my-images"/>
                            </a>
                            <figcaption itemprop="caption description" class="holder">
                            <div> 
                            <h2 class="lightbox-name"> Low Rise Bikini </h2> 
                            <h3 class="lightbox-price"> Price: 249.75 php</h3>  
                            </div>
                            <div class="addCart"> <i class="fa fa-cart-arrow-down cart"></i> </div>
                            </figcaption>
                        </figure>

                        <figure itemprop="associatedMedia" class="col m5ths s6 box-images">
                            <a href="/images/essentials/5 5-in-1 Pack Bikini Brief 459.75.jpg" itemprop="contentUrl" data-size="800x700"  >
                                <img src="/images/essentials/5 5-in-1 Pack Bikini Brief 459.75.jpg" itemprop="thumbnail" alt="Color Block Polo Shirt" class="col m12 s12 shadow p-2 mb-5 bg-secondary rounded my-images"/>
                            </a>
                            <figcaption itemprop="caption description" class="holder">
                            <div> 
                            <h2 class="lightbox-name"> 5-in-1 Pack Bikini Brief</h2> 
                            <h3 class="lightbox-price"> Price: 549.75 php</h3>  
                            </div>
                            <div class="addCart"> <i class="fa fa-cart-arrow-down cart"></i> </div>
                            </figcaption>
                        </figure>

                        <figure itemprop="associatedMedia" class="col m5ths s6 box-images">
                            <a href="/images/essentials/6 Alcogel Antibacterial Baby Wipes 44.jpg" itemprop="contentUrl" data-size="800x700"  >
                                <img src="/images/essentials/6 Alcogel Antibacterial Baby Wipes 44.jpg" itemprop="thumbnail" alt="Color Block Polo Shirt" class="col m12 s12 shadow p-2 mb-5 bg-secondary rounded my-images"/>
                            </a>
                            <figcaption itemprop="caption description" class="holder">
                            <div> 
                            <h2 class="lightbox-name"> Alcogel Antibacterial Baby Wipes </h2> 
                            <h3 class="lightbox-price"> Price: 55 php</h3>  
                            </div>
                            <div class="addCart"> <i class="fa fa-cart-arrow-down cart"></i> </div>
                            </figcaption>
                        </figure>
                        

                        <figure itemprop="associatedMedia" class="col m5ths s6 box-images">
                            <a href="/images/essentials/7 Alcogel Classic 25.jpg" itemprop="contentUrl" data-size="800x700"  >
                                <img src="/images/essentials/7 Alcogel Classic 25.jpg" itemprop="thumbnail" alt="Color Block Polo Shirt" class="col m12 s12 shadow p-2 mb-5 bg-secondary rounded my-images"/>
                            </a>
                            <figcaption itemprop="caption description" class="holder">
                            <div> 
                            <h2 class="lightbox-name"> Alcogel Classic </h2> 
                            <h3 class="lightbox-price"> Price: 25 php</h3>  
                            </div>
                            <div class="addCart"> <i class="fa fa-cart-arrow-down cart"></i> </div>
                            </figcaption>
                        </figure>

                        <figure itemprop="associatedMedia" class="col m5ths s6 box-images">
                            <a href="/images/essentials/8 Alcogel Oat Milk 24.jpg" itemprop="contentUrl" data-size="800x700"  >
                                <img src="/images/essentials/8 Alcogel Oat Milk 24.jpg" itemprop="thumbnail" alt="Color Block Polo Shirt" class="col m12 s12 shadow p-2 mb-5 bg-secondary rounded my-images"/>
                            </a>
                            <figcaption itemprop="caption description" class="holder">
                            <div> 
                            <h2 class="lightbox-name"> Alcogel Oat Milk </h2> 
                            <h3 class="lightbox-price"> Price: 25 php</h3>  
                            </div>
                            <div class="addCart"> <i class="fa fa-cart-arrow-down cart"></i> </div>
                            </figcaption>
                        </figure>

                        <figure itemprop="associatedMedia" class="col m5ths s6 box-images">
                            <a href="/images/essentials/9 Alcogel Vitamin E 31.jpg" itemprop="contentUrl" data-size="800x700"  >
                                <img src="/images/essentials/9 Alcogel Vitamin E 31.jpg" itemprop="thumbnail" alt="Color Block Polo Shirt" class="col m12 s12 shadow p-2 mb-5 bg-secondary rounded my-images"/>
                            </a>
                            <figcaption itemprop="caption description" class="holder">
                            <div> 
                            <h2 class="lightbox-name"> Alcogel Vitamin </h2> 
                            <h3 class="lightbox-price"> Price: 31 php</h3>  
                            </div>
                            <div class="addCart"> <i class="fa fa-cart-arrow-down cart"></i> </div>
                            </figcaption>
                        </figure>

                        <figure itemprop="associatedMedia" class="col m5ths s6 box-images">
                            <a href="/images/essentials/10 Below Zero Cooling Wipes 55.jpg" itemprop="contentUrl" data-size="800x700"  >
                                <img src="/images/essentials/10 Below Zero Cooling Wipes 55.jpg" itemprop="thumbnail" alt="Color Block Polo Shirt" class="col m12 s12 shadow p-2 mb-5 bg-secondary rounded my-images"/>
                            </a>
                            <figcaption itemprop="caption description" class="holder">
                            <div> 
                            <h2 class="lightbox-name"> Below Zero Cooling Wipes </h2> 
                            <h3 class="lightbox-price"> Price: 55 php</h3>  
                            </div>
                            <div class="addCart"> <i class="fa fa-cart-arrow-down cart"></i> </div>
                            </figcaption>
                        </figure>

                        <figure itemprop="associatedMedia" class="col m5ths s6 box-images">
                            <a href="/images/essentials/11 Better Goods Hand and Body Soap 129.jpg" itemprop="contentUrl" data-size="800x700"  >
                                <img src="/images/essentials/11 Better Goods Hand and Body Soap 129.jpg" itemprop="thumbnail" alt="Color Block Polo Shirt" class="col m12 s12 shadow p-2 mb-5 bg-secondary rounded my-images"/>
                            </a>
                            <figcaption itemprop="caption description" class="holder">
                            <div> 
                            <h2 class="lightbox-name"> Better Goods Hand and Body Soap </h2> 
                            <h3 class="lightbox-price"> Price: 129 php</h3>  
                            </div>
                            <div class="addCart"> <i class="fa fa-cart-arrow-down cart"></i> </div>
                            </figcaption>
                        </figure>

                        <figure itemprop="associatedMedia" class="col m5ths s6 box-images">
                            <a href="/images/essentials/12 Bratsplash Hand Sanitizer Green Apple 28.jpg" itemprop="contentUrl" data-size="800x700"  >
                                <img src="/images/essentials/12 Bratsplash Hand Sanitizer Green Apple 28.jpg" itemprop="thumbnail" alt="Color Block Polo Shirt" class="col m12 s12 shadow p-2 mb-5 bg-secondary rounded my-images"/>
                            </a>
                            <figcaption itemprop="caption description" class="holder">
                            <div> 
                            <h2 class="lightbox-name"> Bratsplash Hand Sanitizer Green Apple </h2> 
                            <h3 class="lightbox-price"> Price: 28 php</h3>  
                            </div>
                            <div class="addCart"> <i class="fa fa-cart-arrow-down cart"></i> </div>
                            </figcaption>
                        </figure>


                        <figure itemprop="associatedMedia" class="col m5ths s6 box-images">
                            <a href="/images/essentials/13 Bratsplash Hand Sanitizer Kiwi Frost 28.jpg" itemprop="contentUrl" data-size="800x700"  >
                                <img src="/images/essentials/13 Bratsplash Hand Sanitizer Kiwi Frost 28.jpg" itemprop="thumbnail" alt="Color Block Polo Shirt" class="col m12 s12 shadow p-2 mb-5 bg-secondary rounded my-images"/>
                            </a>
                            <figcaption itemprop="caption description" class="holder">
                            <div> 
                            <h2 class="lightbox-name"> Bratsplash Hand Sanitizer Kiwi Froste </h2> 
                            <h3 class="lightbox-price"> Price: 28 php</h3>  
                            </div>
                            <div class="addCart"> <i class="fa fa-cart-arrow-down cart"></i> </div>
                            </figcaption>
                        </figure>
                        
                        <figure itemprop="associatedMedia" class="col m5ths s6 box-images">
                            <a href="/images/essentials/14 Bratsplash Hand Sanitizer Raspberry Crush 28.jpg" itemprop="contentUrl" data-size="800x700"  >
                                <img src="/images/essentials/14 Bratsplash Hand Sanitizer Raspberry Crush 28.jpg" itemprop="thumbnail" alt="Color Block Polo Shirt" class="col m12 s12 shadow p-2 mb-5 bg-secondary rounded my-images"/>
                            </a>
                            <figcaption itemprop="caption description" class="holder">
                            <div> 
                            <h2 class="lightbox-name"> Bratsplash Hand Sanitizer Raspberry Crush </h2> 
                            <h3 class="lightbox-price"> Price: 28 php</h3>  
                            </div>
                            <div class="addCart"> <i class="fa fa-cart-arrow-down cart"></i> </div>
                            </figcaption>
                        </figure>

                        <figure itemprop="associatedMedia" class="col m5ths s6 box-images">
                            <a href="/images/essentials/15 Bratsplash Hand Sanitizer Strawberry Shake 55.jpg" itemprop="contentUrl" data-size="800x700"  >
                                <img src="/images/essentials/15 Bratsplash Hand Sanitizer Strawberry Shake 55.jpg" itemprop="thumbnail" alt="Color Block Polo Shirt" class="col m12 s12 shadow p-2 mb-5 bg-secondary rounded my-images"/>
                            </a>
                            <figcaption itemprop="caption description" class="holder">
                            <div> 
                            <h2 class="lightbox-name"> Bratsplash Hand Sanitizer Strawberry Shake </h2> 
                            <h3 class="lightbox-price"> Price: 55 php</h3>  
                            </div>
                            <div class="addCart"> <i class="fa fa-cart-arrow-down cart"></i> </div>
                            </figcaption>
                        </figure>

                        <figure itemprop="associatedMedia" class="col m5ths s6 box-images">
                            <a href="/images/essentials/16 Face Mask with Filter 160.jpg" itemprop="contentUrl" data-size="800x700"  >
                                <img src="/images/essentials/16 Face Mask with Filter 160.jpg" itemprop="thumbnail" alt="Color Block Polo Shirt" class="col m12 s12 shadow p-2 mb-5 bg-secondary rounded my-images"/>
                            </a>
                            <figcaption itemprop="caption description" class="holder">
                            <div> 
                            <h2 class="lightbox-name"> Face Mask with Filter </h2> 
                            <h3 class="lightbox-price"> Price: 160 php</h3>  
                            </div>
                            <div class="addCart"> <i class="fa fa-cart-arrow-down cart"></i> </div>
                            </figcaption>
                        </figure>

                        <figure itemprop="associatedMedia" class="col m5ths s6 box-images">
                            <a href="/images/essentials/17 Mangosteen Melody Handwash 129.jpg" itemprop="contentUrl" data-size="800x700"  >
                                <img src="/images/essentials/17 Mangosteen Melody Handwash 129.jpg" itemprop="thumbnail" alt="Color Block Polo Shirt" class="col m12 s12 shadow p-2 mb-5 bg-secondary rounded my-images"/>
                            </a>
                            <figcaption itemprop="caption description" class="holder">
                            <div> 
                            <h2 class="lightbox-name"> Mangosteen Melody Handwash </h2> 
                            <h3 class="lightbox-price"> Price: 129 php</h3>  
                            </div>
                            <div class="addCart"> <i class="fa fa-cart-arrow-down cart"></i> </div>
                            </figcaption>
                        </figure>



                    </div>
                  
           </div> <!--Container End-->








        <!-- Gallery-->
        <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

                <!-- Background of PhotoSwipe. 
                    It's a separate element as animating opacity is faster than rgba(). -->
                <div class="pswp__bg"></div>
            
                <!-- Slides wrapper with overflow:hidden. -->
                <div class="pswp__scroll-wrap">
            
                    <!-- Container that holds slides. 
                        PhotoSwipe keeps only 3 of them in the DOM to save memory.
                        Don't modify these 3 pswp__item elements, data is added later on. -->
                    <div class="pswp__container" id="lightboxContainer">
                        <div class="pswp__item"></div>
                        <div class="pswp__item"></div>
                        <div class="pswp__item"></div>
                    </div>
            
                    <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
                    <div class="pswp__ui pswp__ui--hidden">
            
                        <div class="pswp__top-bar">
            
                            <!--  Controls are self-explanatory. Order can be changed. -->
            
                            <div class="pswp__counter"></div>

                            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                            <button class="pswp__button pswp__button--share" title="Share"></button>
                            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                            <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                            <!-- element will get class pswp__preloader--active when preloader is running -->
                            <div class="pswp__preloader">
                                <div class="pswp__preloader__icn">
                                <div class="pswp__preloader__cut">
                                    <div class="pswp__preloader__donut"></div>
                                </div>
                                </div>
                            </div>
                        </div>
            
                        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                            <div class="pswp__share-tooltip"></div> 
                        </div>
            
                        <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                        </button>

                        <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                        </button>
            
                        <div class="pswp__caption">
                            <div class="pswp__caption__center" id="caption"></div>
                        </div>
            
                    </div>
            
                </div>
            
        </div> 
        <script src="/dist/jquery-3.4.1.min.js"></script>
        <script src="/dist/lightbox.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script src="/dist/photoswipe.min.js"></script> 
        <script src="/dist/photoswipe-ui-default.min.js"></script> 
        <script>

            window.addEventListener('load',function(){
            document.querySelector('body').classList.add("loaded")  
            });

        </script>
  </body>
</html>